* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
#navi {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    transition: top 0.3s;
    z-index: 1;
}
#navi .left {
    display: flex;
    padding-left:10px;
}
#navi .left li {
    list-style-type: none;
}
#navi .left li a {
    display: inline-block;
    color: white;
    padding: 25px 20px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: 0.1s;
}
#navi .left li a:hover {
    border-bottom: 3px solid white;
}
#navi .left i {
    margin: auto 0;
    color:white;
    font-size: 30px;
    padding: 15px 20px;
    cursor: pointer;
}
#navi .left li .subnav {
    position: absolute;
    padding-bottom: 20px;
    width: 100%;
    left:0;
    background-color: white;
    display: none;
}
#navi .left li .subnav a {
    display: inline-block;
    color: #0d0d0d;
    padding-bottom: 15px;
    border-bottom: 3px solid #0d0d0d;
    margin-bottom: 15px;
}
#navi .left li .subnav a:hover {
    color:#996633;
}
#navi .left li .subnav .subnav-item a{
    color: #333333;
    padding: 5px;
    text-decoration: none;
    border-bottom:none;
    font-weight: lighter;
    font-size: 15px;
    margin: 5px 0;
}
#navi .left li .subnav .subnav-item a:hover {
    color: #996633;
}
#navi .left li:hover .subnav{
    display: block;
    display: flex;
    justify-content: space-evenly;
}
#navi .right,.right-guest {
    padding-right:25px
}
#navi .right i {
    color:white;
    font-size: 20px;
    padding: 12px;
    margin-right: 5px;
    border-radius: 50%;
    transition: 0.1s;
}
#navi .right i:hover {
    background-color: crimson;
}
#navi .right-guest a {
    text-decoration:none;
    display: inline-block;
    color:white;
    font-size: 15px;
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 20px;
    transition: 0.1s;
    background-color:crimson;
    margin-right: 15px;
}
#navi .right-guest a:first-child {
    background-color:white;
    color: black
}
#navi .right-guest a:hover {
    background-color:  rgb(184, 17, 50);
}
#navi .right-guest a:first-child:hover {
    background-color:  rgb(215, 215, 215);
}
#navi-bottom {
    margin-top: 74px;
    position: relative;
    height:500px;
    background-image: url("/img/nav-bottom-1.jpg");
    background-size: cover;
    background-position: center;
}
#navi-bottom .content{
    position: absolute;
    top:50%;
    left: 5%;
    transform: translateY(-60%);
}
#navi-bottom .content h1 {
    color: white;
    font-size: 38px;
}
#navi-bottom .content p {
    color: white;
    font-size: 25px;
    padding: 5px 0 35px 0;
}
#navi-bottom .content a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 22px;
    margin-right: 14px;
    background-color: white;
}
#navi-bottom .content a:hover {
    background-color: #e6e6e6;
}
#header .content {
    margin: 40px 0 70px 0;
    text-align: center;
}
#header .content h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 68px;
    letter-spacing: 2px;
}
#header .content p {
    color:#404040;
}
#header .content a {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #0d0d0d;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 1000px;
}
#header .content a:hover {
    background-color: #595959;
}
#header .products {
    margin: 0 35px 40px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .products .item {
    flex: 1;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
#header .products .item:last-child {
    margin-right: 0px;
}
#header .products .item .image {
    height: 555px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#header .products .item .shopnow {
    text-align: center;
    margin: 20px 0;
}
#header .products .item .shopnow p {
    font-size: 10px;
    margin: 5px 0 15px 0;
}
#header .products .item .shopnow a {
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: bold;
    background-color: #0d0d0d;
    padding: 10px 80px;
}
#header .products .item .shopnow a:hover {
    background-color: #595959;
}
#header .latest {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-bottom .content {
    margin: 40px 0 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header-bottom .content h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 68px;
    letter-spacing: 2px;
}
#header-bottom .content p {
    text-align: center;
    width: 50%;
    color:#404040;
}
#header-bottom .content a {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #0d0d0d;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 1000px;
}
#header-bottom .content a:hover {
    background-color: #595959;
}



#header-bottom .trendingup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 35px;
}
#header-bottom .trendingup .angle {
    text-align: center;
}
#header-bottom .trendingup .angle i {
    background-color: #e6e6e6;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
#header-bottom .trendingup .angle i:hover {
    background-color:#cccccc;
}
#header-bottom .trending .container {
    margin: 15px 35px 45px 35px;
    display: flex;
    gap:15px;
    list-style-type: none;
    overflow: hidden;
    scroll-behavior: smooth;
}
#header-bottom .trending .container .dragging .card{
    cursor: grab;
    user-select: none;
}
#header-bottom .trending .container .card img{
    width: 333px;
    height: 333px;
}
#header-bottom .trending .container .card a {
    color: #996633;
    text-decoration: none;
    display: block;
    padding: 10px 0 5px 0;
}



#header-bottom .mightlike {
    display: flex;
    margin: 0 35px 40px 35px;
}
#header-bottom .mightlike .left {
    flex: 1;
    margin-right: 15px;
    background-image: url('/img/might-like-left.jpg');
    background-position: center;
    background-size: cover;
    height: 750px;
    position: relative;
}
#header-bottom .mightlike .left .getit {
    position: absolute;
    left:10%;
    bottom: 10%;
}
#header-bottom .mightlike .left .getit h2 {
    margin: 5px 0 15px 0;
    color: white;
}
#header-bottom .mightlike .left .getit a {
    text-decoration: none;
    display: inline-block;
    color: #0d0d0d;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 1000px;
}
#header-bottom .mightlike .left .getit a:hover {
    background-color: #e6e6e6;
}
#header-bottom .mightlike .right {
    flex: 1;
    background-image: url('/img/might-like-right.jpg');
    background-position: center;
    height: 750px;
    background-size: cover;
    position: relative;
}
#header-bottom .mightlike .right .getit {
    position: absolute;
    left:10%;
    bottom: 10%;
}
#header-bottom .mightlike .right .getit h2 {
    margin: 5px 0 15px 0;
    color: white;
}
#header-bottom .mightlike .right .getit a {
    text-decoration: none;
    display: inline-block;
    color: #0d0d0d;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 1000px;
}
#header-bottom .mightlike .right .getit a:hover {
    background-color: #e6e6e6;
}
#footer-up {
    display: flex;
    margin: 75px 15% 50px 15%;
}
#footer-up .item{
    flex: 1;
}
#footer-up .item p {
    margin-bottom: 25px;
}
#footer-up .item a {
    display: block;
    text-decoration: none;
    color:#8c8c8c;
    margin-bottom: 15px;
    transition: 0.1s;
}
#footer-up .item a:hover {
    color: #404040;
}
#footer .up {
    display: flex;
    background-color: #0d0d0d;
    padding: 50px 5% 20px 5%;
}
#footer .up .item{
    flex: 1;
}
#footer .up .item:last-child {
    flex: 2;
}
#footer .up .item a {
    text-decoration: none;
    display: block;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-size: 12px;
    margin-bottom: 15px;
}
#footer .up .item:last-child a {
    display: inline;
    float:right;
}
#footer .up .item:last-child a i{
    color:black;
    font-size: 18px;
    background-color:#808080 ;
    padding:8px;
    margin-left:15px;
    margin-bottom:8px;
    border-radius: 1000px;
    transition: 0.1s;
}
#footer .up .item:last-child a i:hover {
    background-color:white ;
}
#footer .up .item .supitem a {
    color:#808080;
    font-size: 13px;
    font-weight:lighter;
}
#footer .up .item .supitem a:hover {
    color: white;
}
#discount {
    position: sticky;
    position: -webkit-sticky;
    bottom: 20px;
}
#discount button {
    margin-left: 35px;
    left:25px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid #808080;
}
#discount button:hover {
    background-color: #f2f2f2;
}
#footer .down {
    display: flex;
    justify-content: space-between;
    background-color: #0d0d0d;
    padding: 10px 5% 10px 5%;
}
#footer .down a {
    text-decoration: none;
    display: block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
    color:#808080;
    font-size: 13px;
}
#footer .down a:hover {
    color: white;
}
#footer .down p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#808080;
    font-size: 13px;
}
#footer .down .left {
    display: flex;
}
#footer .down .right {
    display: flex;
}

/*Sneakers Page */
#sneaker {
    margin-top:10vh;
    min-height:100vh;
}
#sneaker .title-up {
    display: flex;
    flex-direction: row;
    padding: 20px 15%;
    justify-content:space-between;
    align-items:center;
    background-color: #F7F7F7;
}
#sneaker .title-down {
    padding: 20px 4%;
}
#sneaker .title-down h1{
    margin-top: 10px;
}
#sneaker .content {
    padding:0px 4%;
    display:flex;
    flex-direction:row;
    gap: 1%;
}
#sneaker .content .left{
    flex:1;
    height: 100%;
    padding: 20px 0px;
    color: black;
    background-color:white;
}
#sneaker .content .left li {
    list-style:none;
}
#sneaker .content .left li a{
    width:90%;
    text-decoration:none;
    display: inline-block;
    padding: 15px 0px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    list-style:none;
    border-bottom: 1px solid #DEDEDE;
}
#sneaker .content .right{
    flex:4;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:2%;
    justify-content:center;
}
#sneaker .content .right .ele{
    margin-bottom: 50px;
    width:32%;
}
#sneaker .content .right .ele img{
    margin-bottom:10px;
    width:100%;
}
#sneaker .content .right .ele h3 {
    margin:10px 0px;
}
#sneaker .content .right .ele button {
    display:block;
    width:100%;
    border:none;
    padding: 12px 25px;
    margin: 0px auto;
    border-radius: 5px;
    font-weight:bold;
    color: white;
    background:linear-gradient(90deg, #ff007a, #ff8c00);
}
#sneaker .content .right .ele button:hover {
    cursor:pointer;
    background:linear-gradient(90deg,rgb(228, 0, 110),rgb(228, 125, 0));
}

/*Cart Page */
#cart {
    margin-top:10vh;
    min-height:100vh;
}
#cart .title-up {
    display: flex;
    flex-direction: row;
    padding: 20px 15%;
    justify-content:space-between;
    align-items:center;
    background-color: #F7F7F7;
}
#cart .title-down {
    padding: 20px 4%;
}
#cart .title-down h1{
    margin-top: 10px;
}
#cart .sub-content{
    display: flex;
    gap: 5%;
    margin-top:10vh;
    padding: 0 15%;
    justify-content:space-between;
}
#cart .sub-content .ele{
    flex:1;
    background-color:white;
    text-align:center;
    padding: 30px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}
#cart .sub-content .ele i{
    font-size:40px;
}
#cart .sub-content .ele h3{
    margin: 15px 0px 5px 0px;
    font-size:20px;
}
#cart .sub-content .ele p{
    font-size:12px;
}
#cart .content {
    padding:0px 4%;
    display:flex;
    flex-direction:row;
    gap: 2%;
}
#cart .content .left {
    flex: 2.5;
}
#cart .content .left .ele {
    padding: 20px;
    margin-bottom:15px;
    border: 1px solid #E3E3E3;
    display:flex;
    gap: 20px;
}
#cart .content .left .ele .pro-img img{
    width:200px;
}
#cart .content .left .ele .pro-info {
    width:100%;
}
#cart .content .left .ele .pro-info p{
    color:#858585;
}
#cart .content .left .ele .info1,.info2{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#cart .content .left .ele .info2 a{
    text-decoration:none;
    color:black;
}
#cart .content .left .ele .info2 i{
    font-size: 21px;
    padding:10px;
    border-radius: 100px;
}
#cart .content .left .ele .info2 i:hover{
    background-color:#E3E3E3;
    cursor:pointer;
}
#cart .content .left .ele select{
    border: 1px solid #ACACAC;
    padding: 12px 15px;
}
#cart .content .right {
    flex: 1.5;
}
#cart .content .right .ship h4 {
     font-size: 13px;
     text-align:center;
     padding: 14px 0;
     margin-bottom:8px;
     border-radius:5px;
     border: 1px solid #E3E3E3;
 }
 #cart .content .right .promo {
     font-size: 16px;
     padding: 20px 0px 20px 20px;
     margin:18px 0px 12px 0px;
     border-radius:3px;
     background-color: #ECECEC;
 }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
}
#cart .content .right .promo1 input {
      width: 65%;
      font-size: 16px;
      padding: 20px 0px 20px 20px;
      margin:0px 5% 12px 0px;
      border-radius:3px;
      border: 1px solid #ACACAC;
}
#cart .content .right .promo1 {
    padding-bottom:10px;
    border-bottom: 1px solid #E3E3E3;
}
#cart .content .right .promo1 button {
    width: 30%;
    font-size: 16px;
    font-weight:bold;
    padding: 20px 25px;
    margin:0px 0px 12px 0px;
    border-radius:3px;
    background-color: #C0C0C0;
    border: none;
}
#cart .content .right .promo1 button:hover {
    cursor:pointer;
    background-color: #ACACAC;
}
#cart .content .right .price {
    display:flex;
    justify-content:space-between;
    padding: 3px 0px;
}
#cart .content .right .price h4{
    color: #858585;
}
#cart .content .right .price-total {
    display:flex;
    justify-content:space-between;
    padding: 25px 0px 25px 0px;
    border-top: 1px solid #E3E3E3;
}
#cart .content .right .check1,.check2 {
    width: 100%;
    font-size: 16px;
    font-weight:bold;
    padding: 18px 0px ;
    margin:0px 0px 10px 0px;
    border-radius:3px;
    color:white;
}
#cart .content .right .check1 {
    background: linear-gradient(90deg, #ff007a, #ff8c00);
    border:none;
}
#cart .content .right .check1:hover {
    background: linear-gradient(90deg,rgb(228, 0, 110),rgb(228, 125, 0));
}
#cart .content .right .check1:hover {
    cursor:pointer;
    background-color: #414141;
}
#cart .content .right .check2 {
    background-color: white;
    border: 1px solid #E3E3E3;
    color:black;
}
#cart .content .right .check2:hover {
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    cursor:pointer;
}
#cart .content .right .policy {
    font-size:12px;
}

/*Checkout Page*/
#checkout {
    margin-top:10vh;
    min-height:100vh;
}
#checkout .title-up {
    display: flex;
    flex-direction: row;
    padding: 20px 15%;
    justify-content:space-between;
    align-items:center;
    background-color: #F7F7F7;
}
#checkout .title-down {
    padding: 20px 6%;
}
#checkout .title-down h1{
    margin-top: 10px;
}
#checkout .sub-content{
    display: flex;
    gap: 5%;
    margin-top:10vh;
    padding: 0 15%;
    justify-content:space-between;
}
#checkout .sub-content .ele{
    flex:1;
    background-color:white;
    text-align:center;
    padding: 30px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}
#checkout .sub-content .ele i{
    font-size:40px;
}
#checkout .sub-content .ele h3{
    margin: 15px 0px 5px 0px;
    font-size:20px;
}
#checkout .sub-content .ele p{
    font-size:12px;
}
#checkout .content {
    padding:0px 6%;
    display:flex;
    flex-direction:row;
    gap: 3%;
}
#checkout .content .left {
    flex: 2.5;
}
#checkout .content .left h3{
     font-size: 19px;
     padding: 20px 0px 20px 20px;
     margin:18px 0px 12px 0px;
     border-radius:3px;
     background-color: #ECECEC;
}
#checkout .content .left form{
    width: 100%;
}
#checkout .content .left label{
    font-weight: bold;
    font-size: 14px;
}
#checkout .content .left input[type="text"]{
    padding: 20px 0 20px 15px;
    background-color: white;
    color:black;
    font-size:15px;
    border-radius: 3px;
    border: 1px solid #888888;
    width:100%;
    margin: 8px 0px 15px 0px;
}
#checkout .content .left input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: black;
    background-color: white;
    border: 1px solid #888888;
    margin: 0px 5px 15px 0px;
}
#checkout .content .left .checkbox{
    font-weight: lighter;
}
#checkout .content .left button{
    width: 50%;
    font-size: 16px;
    font-weight:bold;
    padding: 18px 0px ;
    margin-top: 15px;
    border-radius:3px;
    color:white;
    background: linear-gradient(90deg, #ff007a, #ff8c00);
    border:none;
}
#checkout .content .left button:hover {
    cursor:pointer;
    background: linear-gradient(90deg,rgb(228, 0, 110),rgb(228, 125, 0));
}
#checkout .content .left .message {
    text-align:center;
    padding: 20px 0px;
    border: 1px solid #008626;
    border-radius:3px;
}
#checkout .content .left .message i{
    padding:10px;
    margin-bottom: 10px;
    background-color:#008626;
    color:white;
    border-radius:100px;
}
#checkout .content .left .message h3{
    margin:0;
    padding:0;
    color:green;
    background-color:white;
}
#checkout .content .right .ele {
    padding: 20px;
    margin-bottom:15px;
    border: 1px solid #E3E3E3;
    display:flex;
    gap: 20px;
}
#checkout .content .right .ele p {
    font-size: 15px;
}
#checkout .content .right .ele .pro-img img{
    width:100px;
}
#checkout .content .right .ele .pro-info {
    width:100%;
}
#checkout .content .right .ele .pro-info p{
    color:#858585;
}
#checkout .content .right .ele .info1{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#checkout .content .right {
    flex: 1.5;
}
 #checkout .content .right .promo {
     font-size: 16px;
     padding: 20px 0px 20px 20px;
     margin:18px 0px 12px 0px;
     border-radius:3px;
     background-color: #ECECEC;
 }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
}
#checkout .content .right .promo1 input {
      width: 65%;
      font-size: 16px;
      padding: 20px 0px 20px 20px;
      margin:0px 5% 12px 0px;
      border-radius:3px;
      border: 1px solid #ACACAC;
}
#checkout .content .right .promo1 {
    padding-bottom:10px;
    border-bottom: 1px solid #E3E3E3;
}
#checkout .content .right .promo1 button {
    width: 30%;
    font-size: 16px;
    font-weight:bold;
    padding: 20px 25px;
    margin:0px 0px 12px 0px;
    border-radius:3px;
    background-color: #C0C0C0;
    border: none;
}
#checkout .content .right .promo1 button:hover {
    cursor:pointer;
    background-color: #ACACAC;
}
#checkout .content .right .price {
    display:flex;
    justify-content:space-between;
    padding: 3px 0px;
}
#checkout .content .right .price h4{
    color: #858585;
}
#checkout .content .right .price-total {
    display:flex;
    justify-content:space-between;
    padding: 25px 0px 25px 0px;
    border-top: 1px solid #E3E3E3;
}
#checkout .content .right .policy {
    font-size:12px;
}


/*Display: none */
#logout {
    background-color:rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 1;
    display: none;
}
#logout .container{
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    background-color: white;
    text-align: center;
    width:25%;
    border-radius: 15px;
    animation: zoom 0.5s;
}
@keyframes zoom {
    from {transform:scale(0);}
    to {transform: scale(1);}
}
#logout .container h3 {
    margin:0px;
    margin-bottom: 20px;
}
#logout .container .select a {
    text-decoration: none;
    padding: 8px 20px;
    margin:10px;
    border-radius: 50px;
    background-color: #e6e6e6;
    color: black;
}
#logout .container .select a:last-child {
    background-color: #ff5050;
    color: white;
}
@keyframes zoom {
    from {transform:scale(0);}
    to {transform: scale(1);}
}
#search {
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 1;
    display: none;
}
#search .container {
    padding: 35px 8% 35px 8%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: down 0.3s;
}
@keyframes down {
    from {transform: translateY(-100%);}
    to {transform: translateY(0%);}
}
#search .container i {
    color:#0d0d0d;
    font-size: 33px;
    cursor: pointer;
}
#search .container .for {
    flex: 3;
    margin: 0 60px;
}
#search .container .for input{
    padding: 10px 0 10px 25px;
    width: 100%;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid #808080;
}
#search .container a:last-child {
    text-decoration: none;
    color:#0d0d0d;
}
#search .container a:last-child:hover {
    color:#996633;
}

