<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnhSneaker</title>
  <!--    <link rel="short icon" type="image/png" href="Pro2-images/profile .png">-->
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <script src="https://kit.fontawesome.com/7b50466486.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/layout :: navi}"></div>

<div id="cart">
  <div class="title">
    <div class="title-up">
      <h4>Free Delivery & Returns</h4>
      <h4>Shop All New Arrivals</h4>
      <h4>UP TO 60% OFF ENDS TOMORROW</h4>
    </div>
    <div class="title-down">
      <p>Home - Cart</p>
      <h1>My Shopping Cart</h1>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <table>
        <tr>
          <th>quantity</th>
          <th>name</th>
          <th>price</th>
          <th>stock</th>
          <th>imageUrl</th>
          <th>description</th>
        </tr>
        <tr th:each="item : ${cartItems}">
          <td th:text="${item.quantity}"></td>
          <td th:text="${item.product.name}"></td>
          <td th:text="${item.product.price}"></td>
          <td th:text="${item.product.stock}"></td>
          <td th:text="${item.product.imageUrl}"></td>
          <td th:text="${item.product.description}"></td>
        </tr>
      </table>
      <div></div>
    </div>
    <div class="right">
      <div>
        <h4><i class="fa-solid fa-truck-fast"></i>You’ve earned free shipping</h4>
        <h4><i class="fa-solid fa-rotate-right"></i>Free returns on all qualifying orders</h4>
        <p>APPLY A PROMO CODE (If You Have)</p>
        <input type="number" placeholder="Enter a promo code ..."><button>APPLY</button>
        <div class="price">
          <h4>Subtotal</h4>
          <h4>$165.00</h4>
        </div>
        <div class="price">
          <h4>Shipping costs</h4>
          <h4>FREE</h4>
        </div>
        <div class="price">
          <h4>Estimated sales tax <i class="fa-solid fa-info"></i></h4>
          <i class="fa-solid fa-minus"></i>
        </div>
        <div class="price">
          <h3>Estimated total<i class="fa-solid fa-info"></i></h3>
          <h3>$165.00</h3>
        </div>
        <button>CHECKOUT</button>
        <button><i class="fa-brands fa-paypal"></i>PayPal</button>
        <p>By continuing, I confirm that I have read and accept the Terms and Conditions. and the Privacy Policy.</p>
      </div>
    </div>
  </div>
  <div class="sub-content">
    <div class="ele">
      <i class="fa-solid fa-lock"></i>
      <h3>SECURE PAYMENTS</h3>
      <p>SSL ENCRYPTION ON ALL TRANSACTIONS</p>
    </div>
    <div class="ele">
      <i class="fa-solid fa-truck-fast"></i>
      <h3>FREE & FAST RETURN</h3>
      <p>FREE RETURN ON ALL QUALIFYING ORDERS</p>
    </div>
    <div class="ele">
      <i class="fa-solid fa-comments"></i>
      <h3>ACTIVE SUPPORT</h3>
      <p>GET IN TOUCH IF YOU HAVE A PROBLEM</p>
    </div>
  </div>
</div>

<div id="discount">
  <button>GET 20% OFF</button>
</div>

<div id="footer-up">
  <div class="item">
    <p>Icons</p>
    <a href="">Air Force 1</a>
    <a href="">Huarache</a>
    <a href="">Air Max 90</a>
    <a href="">Air Max 95</a>
  </div>
  <div class="item">
    <p>Shoes</p>
    <a href="">All Shoes</a>
    <a href="">Custom Shoes</a>
    <a href="">Jordan Shoes</a>
    <a href="">Running Shoes</a>
  </div>
  <div class="item">
    <p>Clothing</p>
    <a href="">All Clothing</a>
    <a href="">Modest Wear</a>
    <a href="">Hoodies & Pullovers</a>
    <a href="">Shirts & Tops</a>
  </div>
  <div class="item">
    <p>Kids'</p>
    <a href="">Infant & Toddler Shoes</a>
    <a href="">Kids' Shoes</a>
    <a href="">Kids' Jordan Shoes</a>
    <a href="">Kids' Basketball Shoes</a>
  </div>
</div>

<div th:replace="~{fragments/layout :: footer}"></div>

<!--Display:none-->
<div id="logout">
  <div action="" class="container">
    <h3>Are you sure you want to log out?</h3>
    <div class="select">
      <a style="cursor: pointer;" onclick="hidelogout()">Cancel</a>
      <a th:href="@{/logout}">Yes</a>
    </div>
  </div>
</div>
<div id="search">
  <div class="container">
    <a href=""><i class="fa-brands fa-docker"></i></a>
    <form action="" class="for">
      <input type="text" placeholder="Search...">
    </form>
    <a style="cursor: pointer;" onclick="hidesearch()">Cancle</a>
  </div>
</div>
<script>
// Hide 'navi'
var prePos = 0;
window.onscroll = function() {
  var currentPos = window.pageYOffset;
  if( prePos > currentPos) {
    document.getElementById('navi').style.top = "0px";
  }
  else {
    document.getElementById('navi').style.top = "-75px"
  }
  prePos = currentPos;
}

//Log out and Search
var logout = document.getElementById('logout');
var search = document.getElementById('search');
function displaysearch() {
  search.style.display = "block";
}
function hidesearch() {
  search.style.display = "none";
}
function displaylogout() {
  logout.style.display = "block";
}
function hidelogout() {
  logout.style.display = "none";
}
window.onclick = function(event) {
  if(event.target == search) {
    search.style.display = "none";
  }
  if(event.target == logout) {
    logout.style.display = "none";
  }
}

//Slider
const container = document.querySelector(".container");
const firstCardWidth = container.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".angle i");

let isDragging = false, startX, startScrollLeft;

// Add event listeners for the arrow buttons to scroll the container left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        container.scrollLeft += btn.id === "left" ? -firstCardWidth : firstCardWidth;
    });
});
const dragStart = (e) => {
    isDragging = true;
    container.classList.add("dragging");
    // Records the initial cursor and scroll position of the container
    startX = e.pageX;
    startScrollLeft = container.scrollLeft;
}
const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the container based on the cursor movement
    container.scrollLeft = startScrollLeft - (e.pageX - startX);
}
const dragStop = () => {
    isDragging = false;
    container.classList.remove("dragging");
}
container.addEventListener("mousedown", dragStart);
container.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
    </script>
</body>
</html>