<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnhSneaker</title>
  <!--    <link rel="short icon" type="image/png" href="Pro2-images/profile .png">-->
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <script src="https://kit.fontawesome.com/7b50466486.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/layout :: navi}"></div>

<div id="checkout">
  <div class="title">
    <div class="title-up">
      <h4>Free Delivery & Returns</h4>
      <h4>Shop All New Arrivals</h4>
      <h4>UP TO 60% OFF ENDS TOMORROW</h4>
    </div>
    <div class="title-down">
      <p>Home - Checkout</p>
      <h1>CHECKOUT</h1>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <form th:action="@{/checkout/create-order}" th:object="${order}" method="post">
        <h3>SHIPPING & BILLING</h3>
        <div class="message" th:if="${message} != null">
          <i class="fa-solid fa-check"></i><br>
          <h3>[[${message}]]</h3>
        </div>
        <p style="margin: 25px 0px 15px 0px; font-size:19px">Enter a Shipping Address and Contact Info</p>
        <div style="display: flex; gap: 20px;">
          <div style="flex: 1;">
            <label for="recipient">Recipient Name <span style="color:red">*</span></label><br>
            <input type="text" th:field="*{recipientName}" id="recipient" placeholder="Enter recipient name ..." required>
          </div>
          <div style="flex: 1;">
            <label for="phone">Phone Number <span style="color:red">*</span></label><br>
            <input type="text" th:field="*{phone}" id="phone" placeholder="Enter phone number ..." required>
          </div>
        </div>
        <label for="address">Address <span style="color:red">*</span></label><br>
        <input type="text" th:field="*{address}" id="address" placeholder="Enter street number and name ..." required><br>
        <label for="note">Note <span style="color:red">*</span></label><br>
        <input type="text" th:field="*{note}" id="note" placeholder="Message for delivery man ..." required><br>
        <input type="checkbox" id="check1" required>
        <label for="check1" class="checkbox">Please send me SMS shipping updates about my order</label><br>
        <input type="checkbox" id="check2" required>
        <label for="check2" class="checkbox">Please add me to the SNEAKERS email list</label><br>
        <button th:type="submit">SAVE AND CONTINUE</button>
      </form>
    </div>
    <div class="right">
      <p class="promo" th:if="${totalCartItems} != null" th:text="'ORDER DETAILS ' + '(' + ${totalCartItems} + ')'"></p>
      <p class="promo" th:if="${totalCartItems} == null">ORDER DETAILS (0)</p>
      <div class="ele" th:each="item : ${cartItems}">
        <div class="pro-img">
          <img th:src="${item.product.imageUrl}" alt="product">
        </div>
        <div class="pro-info">
          <div class="info1" style="padding-bottom: 5px;">
            <h4 th:text="${item.product.name}"></h4>
            <h4 th:text="'$' + ${item.product.price}"></h4>
          </div>
          <p style="padding-bottom: 5px;">Available in Ha Noi</p>
          <div class="info2">
            <p>Description: Special, limited products</p>
          </div>
          <p th:text="'Style number: NDA-' + ${item.product.stock} + ${item.id}" style="padding-bottom: 5px 0px;"></p>
          <p th:text="'Quantity: ' + ${item.quantity}"></p>
        </div>
      </div>
      <p class="promo">APPLY A PROMO CODE (If You Have)</p>
      <div class="promo1">
        <input type="number" placeholder="Enter a promo code ..."><button>APPLY</button>
      </div>
      <div class="price">
        <h4>Subtotal</h4>
        <h4 th:text="${totalPrice}"></h4>
      </div>
      <div class="price">
        <h4>Shipping costs</h4>
        <h4>FREE</h4>
      </div>
      <div class="price" style="margin-bottom: 15px;">
        <h4>Estimated sales tax</h4>
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="price-total">
        <h3>ESTIMATED TOTAL</h3>
        <h3 th:text="${totalPrice}"></h3>
      </div>
      <p class="policy">By continuing, I confirm that I have read and accept the Terms and Conditions. and the Privacy Policy.</p>
    </div>
  </div>
  <div class="sub-content">
    <div class="ele">
      <i class="fa-solid fa-lock"></i>
      <h3>SECURE PAYMENTS</h3>
      <p>SSL ENCRYPTION ON ALL TRANSACTIONS</p>
    </div>
    <div class="ele">
      <i class="fa-solid fa-truck-fast"></i>
      <h3>FREE & FAST RETURN</h3>
      <p>FREE RETURN ON ALL QUALIFYING ORDERS</p>
    </div>
    <div class="ele">
      <i class="fa-solid fa-comments"></i>
      <h3>ACTIVE SUPPORT</h3>
      <p>GET IN TOUCH IF YOU HAVE A PROBLEM</p>
    </div>
  </div>
</div>

<div id="discount">
  <button>GET 20% OFF</button>
</div>

<div id="footer-up">
  <div class="item">
    <p>Icons</p>
    <a href="">Air Force 1</a>
    <a href="">Huarache</a>
    <a href="">Air Max 90</a>
    <a href="">Air Max 95</a>
  </div>
  <div class="item">
    <p>Shoes</p>
    <a href="">All Shoes</a>
    <a href="">Custom Shoes</a>
    <a href="">Jordan Shoes</a>
    <a href="">Running Shoes</a>
  </div>
  <div class="item">
    <p>Clothing</p>
    <a href="">All Clothing</a>
    <a href="">Modest Wear</a>
    <a href="">Hoodies & Pullovers</a>
    <a href="">Shirts & Tops</a>
  </div>
  <div class="item">
    <p>Kids'</p>
    <a href="">Infant & Toddler Shoes</a>
    <a href="">Kids' Shoes</a>
    <a href="">Kids' Jordan Shoes</a>
    <a href="">Kids' Basketball Shoes</a>
  </div>
</div>

<div th:replace="~{fragments/layout :: footer}"></div>

<!--Display:none-->
<div id="logout">
  <div action="" class="container">
    <h3>Are you sure you want to log out?</h3>
    <div class="select">
      <a style="cursor: pointer;" onclick="hidelogout()">Cancel</a>
      <a th:href="@{/logout}">Yes</a>
    </div>
  </div>
</div>
<div id="search">
  <div class="container">
    <a href=""><i class="fa-brands fa-docker"></i></a>
    <form action="" class="for">
      <input type="text" placeholder="Search...">
    </form>
    <a style="cursor: pointer;" onclick="hidesearch()">Cancle</a>
  </div>
</div>
<script>
// Hide 'navi'
var prePos = 0;
window.onscroll = function() {
  var currentPos = window.pageYOffset;
  if( prePos > currentPos) {
    document.getElementById('navi').style.top = "0px";
  }
  else {
    document.getElementById('navi').style.top = "-75px"
  }
  prePos = currentPos;
}

//Log out and Search
var logout = document.getElementById('logout');
var search = document.getElementById('search');
function displaysearch() {
  search.style.display = "block";
}
function hidesearch() {
  search.style.display = "none";
}
function displaylogout() {
  logout.style.display = "block";
}
function hidelogout() {
  logout.style.display = "none";
}
window.onclick = function(event) {
  if(event.target == search) {
    search.style.display = "none";
  }
  if(event.target == logout) {
    logout.style.display = "none";
  }
}

//Slider
const container = document.querySelector(".container");
const firstCardWidth = container.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".angle i");

let isDragging = false, startX, startScrollLeft;

// Add event listeners for the arrow buttons to scroll the container left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        container.scrollLeft += btn.id === "left" ? -firstCardWidth : firstCardWidth;
    });
});
const dragStart = (e) => {
    isDragging = true;
    container.classList.add("dragging");
    // Records the initial cursor and scroll position of the container
    startX = e.pageX;
    startScrollLeft = container.scrollLeft;
}
const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the container based on the cursor movement
    container.scrollLeft = startScrollLeft - (e.pageX - startX);
}
const dragStop = () => {
    isDragging = false;
    container.classList.remove("dragging");
}
container.addEventListener("mousedown", dragStart);
container.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
    </script>
</body>
</html>